extends layout

block content
  if (user)
    nav
      a(href="/") home
      div.nav-container
        a(href="/add-message") add message!
        a(href="/join-the-club") join the club
        a.logout-link(href="/logout") logout

  else 
    nav 
      a(href="/") home
      a(href="/login") login 

  main 
    h1 list all the messages here!

    each msg in messages 

      - if (user && user.isAdmin === true)
        div.message
          h3 #{msg.title}
          p #{msg.text}
          p #{msg.timestamp}
          p #{msg.fullname}
          form(action="/delete-message", method="post") 
            input(type="hidden", name="message_id" value=`${msg._id}`)
            button(type="submit") delete

      - else if (user && user.membership === true)
        div.message
          h3 #{msg.title}
          p #{msg.text}
          p #{msg.timestamp}
          p #{msg.fullname}

      - else
        div.message 
          h3 #{msg.title}
          p #{msg.text}
          p.membership-info Login and become a member to see more info!



